html{
  background-image: url('http://images.akamai.steamusercontent.com/ugc/48737455674276562/7123190700D5F413E3B22AE12E8F67849A95693C/');
}

$primary-color: white;
$primary-border-radius: 20px;
$explanet-color: linear-gradient(100deg, hsl(33, 96%, 40%), hsl(33, 96%, 20%));

main {
  display: flex;
  border-radius: 20px;
  color: $primary-color;
  padding: 30px;
  margin-left: 40px;
}

#mainHead{
  // display: flex;
  color: $primary-color;
}

video{
  margin-left: 400px;
}

#list{
  border: 1px solid $primary-color;
  padding: 10px;
  margin-top: 20px;
  border-radius: $primary-border-radius;
}

#recent{
  border: 1px solid $primary-color;
  padding: 10px;
  margin-top: 20px;
  border-radius: $primary-border-radius;
}

#figure{
  display: none;
  border: 1px solid $primary-color;
  background-image: url('http://images.akamai.steamusercontent.com/ugc/48737455674276562/7123190700D5F413E3B22AE12E8F67849A95693C/');
  margin-left: 60px;
  border-radius: $primary-border-radius;
  width: 1000px;
  #infoContainer{
    border: 1px solid $primary-color;
    padding: 10px;
    height:180px;
    border-radius: $primary-border-radius;
    margin: 30px;
  }
  p{
    font-size: 12px;
    color: $primary-color
  }
  h3{
    font-size: 14px;
    color: $primary-color
  }
  #compContainer{
    border: 1px solid $primary-color;
    margin-left: 500px;
    border-radius: $primary-border-radius;
    margin-top: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
  .holder{
    display: flex;
    background-image: url('http://images.akamai.steamusercontent.com/ugc/48737455674276562/7123190700D5F413E3B22AE12E8F67849A95693C/');
  }
  #figButton{
    margin-left: 20px;
    margin-right: 200px;
  }
  #starCirc{
    display: none;
    width: 200px;
    height: 200px;
    border-radius: 110px;
    margin-left: 400px;
    margin-right: 40px;
    margin-top: 40px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
  #earthCirc{
    display: none;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: linear-gradient(100deg, green, blue);
    margin-top: 200px;
    margin-left: 30px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
// New feature
  // #exPlanet1{
  //   width: 20px;
  //   height: 20px;
  //   border-radius: 10px;
  //   background: $explanet-color;
    // display: none;}
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}
