html{
  background-image: url('http://images.akamai.steamusercontent.com/ugc/48737455674276562/7123190700D5F413E3B22AE12E8F67849A95693C/');
}

main {
  display: flex;
  border-radius: 20px;
  background-color: white;
  padding: 30px;
}


#figure{
  display: none;
  border: 1px solid black;
  #infoContainer{
    border: 1px solid black;
  }
  p{
    font-size: 12px;
  }
  h3{
    font-size: 14px;
  }
  #compContainer{
    border: 1px solid black;
  }
  .holder{
    display: flex;
  }
  #figButton{
    margin-left: 20px;
    margin-right: 200px;
  }
  #starCirc{
    display: none;
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }
  #earthCirc{
    display: none;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: blue;
  }
}
